In [1]:
from IPython.core.display import HTML
display(HTML('<style>.container { width:95% !important; } </style>'))

%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Data loading

The following line loads the file as a "virtual" object that has to be iterated to really load the data.

In [3]:
# Loading all data takes too long - loading only the 10 000 first lines
all_data = pd.read_json('../raw-data/train.jsonl', lines=True, chunksize = 10000)

Then, here, we extrat the 10k first lines and write them in a json file to be able to parse more easily through them.

In [4]:
for line in all_data:
    first_samples = line
    break

In [7]:
first_samples.to_json("../raw-data/first_samples.json")
first_samples

      session                                             events
0           0  [{'aid': 1517085, 'ts': 1659304800025, 'type':...
1           1  [{'aid': 424964, 'ts': 1659304800025, 'type': ...
2           2  [{'aid': 763743, 'ts': 1659304800038, 'type': ...
3           3  [{'aid': 1425967, 'ts': 1659304800095, 'type':...
4           4  [{'aid': 613619, 'ts': 1659304800119, 'type': ...
...       ...                                                ...
9995     9995  [{'aid': 541094, 'ts': 1659305201426, 'type': ...
9996     9996  [{'aid': 332607, 'ts': 1659305201462, 'type': ...
9997     9997  [{'aid': 680703, 'ts': 1659305201520, 'type': ...
9998     9998  [{'aid': 483416, 'ts': 1659305201526, 'type': ...
9999     9999  [{'aid': 999208, 'ts': 1659305201699, 'type': ...

[10000 rows x 2 columns]

In [8]:
first_sample = first_samples.loc[0]
print("Size of the session:", len(first_sample["events"]))

Size of the session: 276

In [9]:
sec_sample = first_samples.loc[1]
print("Size of the session:", len(sec_sample["events"]))

Size of the session: 32

The sessions have different lengths, and we aim at predicting an event at setp n of the session. The events are ony described by 
* the article id: aid
* the time of the event: ts
* the type of event: type (clicks, cart, order)

So to predict the next event, the model must be able to infer from the sequence of events the next one.

In [11]:
sizes=[]
for first_sample_id in first_samples.index:
    sizes.append(len(first_samples.loc[first_sample_id]["events"]))
print(max(sizes))

495